* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  position: relative;
}

#cover {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15rem;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0.822);
  display: none;
}

#cover p {
  color: #fff;
  font-size: 50px;
  font-family: "Grand Hotel", cursive;
  text-align: center;
}

h1 {
  color: chartreuse;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-family: "New Tegomin", serif;
}

.cardscore {
  margin-left: 2rem;
  margin-top: 1rem;
  color: cornflowerblue;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}

.maintext {
  height: 200px;
}

#result {
  color: fuchsia;
  font-size: 40px;
  font-family: "New Tegomin", serif;
  font-family: "RocknRoll One", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  margin-bottom: 1rem;
}

.again {
  margin-top: 1rem;
  color: darkorange;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: center;
  height: 30px;
}

#buttonsss {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  height: 70px;
  display: none;
  height: 45px;
}

button {
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  color: #fff;
  width: 80px;
  height: 40px;
  border-radius: 1px solid #fff;
  border-style: dotted;
  padding: 5px;
}

button:hover {
  width: 84px;
  height: 44px;
}

.title {
  color: #67678d;
  font-size: 30px;
  text-align: center;
}

.weapons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.rock img,
.paper img,
.scissors img {
  width: 250px;
}

#rockText,
#paperText,
#scissorsText {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  height: 40px;
}

h2 {
  color: rgba(245, 245, 220, 0.671);
  font-weight: bold;
  font-size: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.robotText {
  margin-top: 1rem;
  color: #f7f73a;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.2rem;
}

#rockopacity,
#paperopacity,
#scissorsopacity {
  opacity: 0.5;
}

.boxshadow {
  -webkit-filter: drop-shadow(0 0 3rem white);
          filter: drop-shadow(0 0 3rem white);
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 16px;
  }
  #cover {
    padding: 0;
    width: 100%;
    height: auto;
    padding-top: 5rem;
  }
  .cardscore {
    margin-left: 0;
    text-align: center;
    font-size: 24px;
  }
  .maintext {
    height: 200px;
  }
  #result {
    font-size: 30px;
    height: 30px;
  }
  .again {
    font-size: 30px;
  }
  #buttonsss {
    gap: 2rem;
  }
  .title {
    font-size: 20px;
  }
  .weapons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .rock img,
  .paper img,
  .scissors img {
    width: 60px;
  }
  #rockText,
  #paperText,
  #scissorsText {
    font-size: 20px;
  }
  h2 {
    font-size: 24px;
  }
  .robotText {
    font-size: 20px;
  }
  .boxshadow {
    -webkit-filter: drop-shadow(0 0 0.5rem white);
            filter: drop-shadow(0 0 0.5rem white);
  }
}
/*# sourceMappingURL=style.css.map */